.btn-outline-success {
    --bs-btn-color: #000;
    --bs-btn-border-color: #f1b8f1;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #F0C9F1;
    --bs-btn-hover-border-color: #F0C9F1;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f1b8f1;
    --bs-btn-active-border-color: #fff;
    // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    // --bs-btn-disabled-color: #198754;
    // --bs-btn-disabled-bg: transparent;
    // --bs-btn-disabled-border-color: #198754;
    // --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #F0C9F1;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f1b8f1;
    --bs-btn-hover-border-color: #fff;
    // --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #484545;
    --bs-btn-active-border-color: #fff;
    // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    // --bs-btn-disabled-color: #fff;
    // --bs-btn-disabled-bg: #0d6efd;
    // --bs-btn-disabled-border-color: #0d6efd;
}