//this code should probably be in a customs folder with the _customs.scss file

.form-check-input:checked {
    background-color: $color-primary;
    border-color: $color-secondary;
}

.form-check-input {
    border: 1px solid $color-primary;
}


.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: none;
}
.form-check-input:focus {
    box-shadow: none;
}

.hidden-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
