.bar {
    font-weight: 700;
    min-height: 50px;
    height: auto;
    &-feed {
        background-color: $color-primary;
    }
    &-profile {
        background-color: $color-secondary;
        @media only screen and (max-width: 991px) {
            background-color: $color-primary;
        }
    }
}