// @use "./borders";
@use "./fonts";
@use "./feed";
@import "./colors";
@import "./footer";

// :root {
//     --bs-border-width: 7px;
// }

// .border-bottom {
//     border-bottom: var(--bs-border-width);
// }

body {
    background-color: $color-secondary;
    font-family: "Inria Serif", serif;
}

.header {
    background-color: $color-primary;
    height: 50px;
    &-inner {
        background-color: $color-primary;
        height: 100px;
        transform: skewY(-2deg);
    }
    &-logo {
        max-height: 80px;
        min-height: 20px;
        width: auto;
        top: 20px;
        left: 5%;
    }
}

footer {
    background-color: $color-primary;
    height: 100px;
}

main {
    background-color: $color-secondary;
}

.bg-log-in {
    background-color: $color-primary;
    height: auto;
}

// .card {
//     background-color: $color-body;
//     &-right {
//         background-color: $color-secondary;
//         transform: skew(15deg);
//     }
// }
.card-right {
    // transform: skew(-15deg);
    // position: absolute;
    // right: 20px;
    // top: 50px;
}

.card {
    background-color: $color-body;
    &-right {
        // background-color: $color-secondary;
        position: relative;
        background: linear-gradient(70deg, transparent 20%, $color-secondary 20%);
        display: flex;
        >.img-fluid {
            max-width: 90%;
        }
    }
}