@import "./customs";
// @use "./borders";
@import "./colors";
@import "./fonts";
@import "./feed";
@import "./footer";
@import "./topbar";
@import "./profile";
@import "./filler";
@import "./form";
@import "./borders";
@import "./root";
@import "./links";


// :root {
//     --bs-border-width: 7px;
// }

// .border-bottom {
//     border-bottom: var(--bs-border-width);
// }


body {
    font-family: $font-family-primary;
}

.header {
    background-color: $color-primary;
    height: 50px;
    &-inner {
        background-color: $color-primary;
        height: 100px;
        transform: skewY(-2deg);
    }
    &-logo {
        max-height: 80px;
        min-height: 20px;
        width: auto;
        top: 20px;
        left: 5%;
    }
}
.bg-primary {
    background-color: $color-secondary !important;
}
// main {
//     background-color: $color-secondary;
// }

.bg-log-in {
    background-color: $color-primary;
    height: auto;
}


.card {
    background-color: $color-body;
    &-right {
        // background-color: $color-secondary;
        position: relative;
        background: linear-gradient(70deg, transparent 20%, $color-secondary 20%);
        display: flex;
        >.img-fluid {
            max-width: 90%;
        }
    }
}